lexik_jwt_authentication:
    encoder:
        service: lexik_jwt_authentication.encoder.lcobucci
        signature_algorithm: RS256

    public_key: '%kernel.project_dir%/config/jwt/keycloak_public.pem'

    # We'll just use the subject; we don't look users up in the DB anymore
    user_id_claim: sub

    token_extractors:
        authorization_header:
            enabled: true
            prefix: Bearer
            name: Authorization
        cookie:
            enabled: false
        query_parameter:
            enabled: false
