name: CI
on: [ push, pull_request ]

jobs:
    php:
        runs-on: ubuntu-latest
        env:
            KEYCLOAK_BASE_URL: "http://dummy-keycloak"
            KEYCLOAK_REALM: "dummy"
            KEYCLOAK_CLIENT_ID: "dummy"
            KEYCLOAK_CLIENT_SECRET: "dummy"
        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  extensions: mbstring, pdo, pdo_pgsql, intl

            - name: Cache Composer
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-composer-

            - name: Cache vendor
              uses: actions/cache@v4
              with:
                  path: vendor
                  key: ${{ runner.os }}-vendor-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-vendor-

            - name: Validate composer.json
              run: composer validate

            - name: Install dependencies
              run: composer install --no-progress --no-interaction --prefer-dist

            - name: Symfony cache warmup
              run: APP_ENV=prod APP_DEBUG=0 php bin/console cache:warmup

            - name: Run Makefile targets
              run: |
                  make lint
                  make test
              env:
                  COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
